[Desktop Entry]
Name=YPaste
# Fedora 39
#Exec=ypaste

# VanillaOS 2 Orchid
Exec=/usr/share/apx/distrobox/distrobox-enter -n apx-vso-pico -- ypaste
Terminal=false
Type=Application
Icon=/home/sec/.local/share/icons/usr/YPaste.png
